{% extends 'base.html' %}

{% block 'contenido' %}

<div class="container text-center">
    <div class="row">
        <div class="col-8 bg-white">
            <h1>aca van a ir los graficos</h1>
            <div class="row">
                <div class="col bg-primary">
                    grafico 1
                </div>
            </div>

            <div class="row">
                <div class="col bg-danger">
                    grafico 2
                </div>
            </div>
        </div>
        <div class="col-4 prueba">
            <div style="background-color: darkgrey;">
                <h1>Bienvenido a biblioteca Alkemy</h1>
                <p>Seleccione una de las opciones disponibles:</p>
            </div>
            <ul style="list-style: none;">
                <li class="my-2"><a class="btn btn-primary" href="">Agregar un Autor</a></li>
                <li class="my-2"><a class="btn btn-warning" href="">Agregar un Empleado</a></li>
                <li class="my-2"><a class="btn btn-success" href="">Agregar un Socio</a></li>
                <li class="my-2"><a class="btn btn-secondary" href="">Agregar un Libro</a></li>
                <li class="my-2"><a class="btn btn-info" href="">Agregar un Prestamo</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="prueba">


</div>
{% endblock %}