{% extends 'base.html' %}

{% block 'contenido' %}
<table class="table text-center">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">numero de legajo</th>
      <th scope="col">Activo</th>
    </tr>
  </thead>
  <tbody>
    {% for e in empleados %}
    <tr>
      <th scope="row">{{ e.id }}</th>
      <td>{{ e.nombre }}</td>
      <td>{{ e.apellido }}</td>
      <td>{{ e.numero_legajo }}</td>
      {% if e.activo %}
      <td>
        <i class="fa-solid fa-circle-check" style="color: #80ff00;"></i>
      </td>
      {% else %}
      <td>
        <i class="fa-regular fa-circle-xmark" style="color: #ff0000;"></i>
      </td>
      {% endif %}
    {% endfor %}
  </tbody>
</table>

{% endblock %}